

@font-face {
  font-family: 'Pretendard';
  src: url(font/Pretendard-SemiBold.otf);
  /* font-weight: 500; */
  font-style: normal;
}
@font-face {
  font-family: 'JalnanGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  /* font-weight: normal; */
  font-style: normal;
}


* {
  font-family: 'JalnanGothic';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  scroll-snap-align: start;
  background-size: 100% 100%;
  /* background-attachment: fixed; 
  background-repeat: no-repeat;
  background-position: center; */

}

/* // page 1 */

.page1-section {
  background-image: url(page1-img/page_1_bg.png);
  background-size: cover;
  color: white;
 
}

.page1-logo-wrapper {
  min-height: 5em;
  margin-top: -5em;
  margin-bottom: 5em;
}

.page1-logo-wrapper img {
  max-width: 100%;
  height: auto;
}

/*  section starts */
.page1-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.page1-section h2 {
  margin: 0px;
  padding: 0px;
  font-size: 1.8em;
}

.page1-comment {
  text-align: center;
}

.slogan-image-wrapper {
  margin-top: 5em;
  margin-bottom: 1em;
}

.slogan-image-wrapper img{
  max-width: 100%;
  height: auto;
}



/* // page 1 */

/* // page 2 */
.page2-section {
  background-image: url(page2-img/page_2_bg.png); 
  background-size: cover;
  background-color: black;
  display: flex;
  
  align-items: center;
  flex-wrap: nowrap;
  
  justify-content: space-around;
  
  height: auto; /* 페이지 2의 높이를 자동으로 설정 */
  min-height: 100vh; /* 최소 높이를 페이지 높이로 설정 */
}

.page2-left-wrapper {
  margin-top: -5em;
  ; /* 이미지의 최대 너비를 설정합니다. */
  

}

.page2-main-img{
  max-width: 100%;
  height: auto;
}

.page2-right-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
 

}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  
}


.first-row-port {
  display: flex;
  gap: 2em;
}

.second-row-port {
  display: flex;
  gap: 2em;
 
}

.portfolio {
  width: 100%; /* 부모 요소에 가득 채우도록 설정 */
  height: auto; /* 가로세로 비율을 유지하면서 이미지 크기 조정 */
}

.portfolio img {   

  width: 18em;
  height: 18em;
  object-fit: cover; /* 이미지를 부모 요소에 맞게 크기 조정 */
  border-radius: 1em;
   

}

.portfolio div {
  text-align: center;
}

.page2-more-btn {
  color: white;
  background-color: black;
  z-index: 100;
  width: 20em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 1.1em;
  border-radius: 2em;
  font-family: 'Pretendard';
}
/* // page 2 */









/* // page 3 */

 .page3-section {
  background-image: url(page3-img/page_3_bg.png);
  background-size: cover;
  background-position: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

.page3-img-wrapper {
  margin-top: 9em;
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.page3-img-wrapper img {
  max-width: 100%;
  height: auto;
}

.page3-btn {
  padding: 15px 80px 15px 80px;
  background-color: rgb(48, 62, 107);
  color: rgba(255, 255, 255, 0.722);
  border-radius: 4em;
  border: 2px solid grey;
  font-size: 1.1em;
  font-family: 'Pretendard';
}
/* // page 3 */

/* // page 4 */

.page4-section {
  background-image: url(page4-img/page_4_bg.png);

  background-color: black;
  flex-direction: column;
  align-items: center;

}

.contact-img-wrapper {
  margin-bottom: 2.5em;
}

.contact-text-wrapper {
  text-align: center;
  line-height: 2em;

}

.contact-text-wrapper h3 {
  font-family: 'Pretendard';
}

.page4-input-wrapper {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 1em;
  width: 25em;
}

.input-name {
  margin-bottom: 0.3em;
  font-family: 'Pretendard';

}

.input-text {
  width: 100%;
  height: 2em;
}


.input-number {
  width: 100%;
  height: 2em;
}


.page4-checkbox {
  display: flex;
  justify-content: space-between;
  
}

.page4-checkbox span {
  font-size: 0.9em;
  font-family: 'Pretendard';

}

.page4-checkbox div {
  display: flex;
  align-items: center;
  gap: 0.2em;
  text-align: center;
  font-family: 'Pretendard';

}

#input-question {
  height: 5em;
}

.personal-info {
  margin-top: 1em;
  font-family: 'Pretendard';


}

.agreed-box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.8em;
  font-size: 1.5em;
  font-family: 'Pretendard';
}

.agreed-box span {
  font-size: 0.6em;
  font-family: 'Pretendard';

}

.agreed-box button {
  background-color: lightgray;
  border: none;
  padding: 0.25em 2em 0.25em 2em;
  font-family: 'Pretendard';

} 

.free-consulting-button-wrapper {
  margin-top: 2em;
}

.page4-consulting-button {
  max-width: 100%;
  background-color: rgb(190, 59, 59);
  border: none;
  color: white;
  padding: 1em 8em 1em 8em;
  border-radius: 10em;
  font-family: 'Pretendard';

}

/* // page 4 */


/* page5 starts */

.page5-section {
  background-image: url(page5-img/page_5_bg.png);
  background-size: cover;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  
}

.page5-left-wrapper img {
  width: 85%;
  height: auto;
}

.page5-right-wrapper img {
  width: 85%;
  height: auto;
  
}

.page5-left-wrapper  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7em;
  height: min-content;
  max-width: fit-content;
  text-align: center;

}

.page5-right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  height: min-content;
  max-width: fit-content;
  text-align: center;

}

.page5-left-wrapper h1, .page5-right-wrapper h1 {
  font-family: 'Pretendard';

}

/* page5 end */




/* page6 start */
.page6-section {
  background-image: url(page6-img/page_6_bg.png);
  background-size: cover;
  height: 100vh; /* 페이지 7의 배경이 페이지 6과 겹치지 않도록 페이지 6의 높이를 100vh로 설정합니다 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  
}

.page6-process-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}

.process1, .process2, .process3, .process4 {
  width: 65%;
}

.process1-wrapper, 
.process2-wrapper,
.process3-wrapper, 
.process4-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.process1-wrapper p, 
.process2-wrapper p,
.process3-wrapper p, 
.process4-wrapper p {
  line-height: 1.7em;
  font-family: 'Pretendard';
  font-size: 1.2em;
  text-wrap: nowrap;
}

.page6-web-text {
  font-size: 1.7em;
  /* font-weight: 900px; */
}



/* page6 end */



/* page7 start */
.page7-section {
  background-image: url(page7-img/page_7_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 3.5em; /* 이미지를 가로 중앙에 위치시킵니다. */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  
}

.page7-content-wrapper {
  color: white;
}

.page7-footer {
  position: relative; /* 페이지에 고정시킵니다. */
  bottom: 0; /* 하단에 배치합니다. */
  width: 100%; /* 너비는 화면 전체로 설정합니다. */
  height: 20%; /* 높이를 화면 높이의 20%로 설정합니다. */
  background-color: whitesmoke; /* 배경색을 회색으로 설정합니다. */
  padding: 1em 0 1em 0;
}

.page7-logo-wrapper  {
  margin-top: 2.8em;
  margin-left: 1.8em;
  
    
}
.page7-logo-wrapper img {
  /* width: 7.8em;
  height: 4.8em; */
  width: 70%;
  height: auto;
}

.page7-content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  text-align: center;
  font-size: 1.1em;
}
.page7-content-wrapper p {
  font-size: smaller;
}

.page7-content-wrapper h3 {
  /* font-weight: bold; */
}


.page7-contet-secondRow {
  display: flex;
  gap: 26em;
  margin-bottom: -2em;
  
  
}

.page7-contet-fourthRow {
  display: flex;
  gap: 26em;
  margin-bottom: 7em;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  
  margin-left: 10em;
  gap: 1em;
  
}

.page7-footer p, span {
  font-size: 0.4em;
  font-family: 'Pretendard';
}

.page7-footer span {
  font-size: 0.4em;
  margin-right: 4em;
}
.first-span {
  padding-right: 1em;
}

/* 이미지 파일 사용으로 Code 수정 */

.page7-content-wrapper {
  position: relative;
}

.page7-logo-wrapper {
  position: absolute;
  top: 11em;
 
}


.page7-web-text-wrapper img {
  max-width: 80%;
  max-height: 100vh;
  
}


/* 이미지 파일 사용으로 Code 수정 */




/* page7 end */


/* page1 미디어쿼리 */

@media screen and (max-width: 750px) {
      .page1-section{
        background-image: url(page1-img/mob_page1_bg.png);
        color: white;
        background-size: cover;
        min-width: 375px;
    }

  .slogan-image-wrapper {
    display: flex;
    justify-content: center;
  }

  .slogan-image-wrapper img{
      max-width: 80%;
      height: auto;
      
  }

  .page1-comment {
    font-size: smaller;
  }

}

/* page1 미디어쿼리 end */


 /* page2 미디어쿼리*/
 @media (max-height: 80vh) {
  .page2-section {
    min-height: 80vh; /* 페이지 2의 최소 높이를 80vh로 설정하여 페이지 3의 시작점에서 높이 조절 */
  }
}

@media screen and (max-width: 1421px) {
  /* 페이지 2의 이미지 크기 조절 */
  
  .portfolio img {   
    width: 15em;
    height: 15em;
  }

  .portfolio-container {
    flex-shrink: 1;
  }
  
}


@media screen and (max-width: 1024px) {
  .page2-section {
    font-size: 1em;
    gap: 1em;  
  }

}

@media screen and (min-width: 751px) and (max-width: 1024px) {
  .page2-section {
    /* 페이지 2 전체 요소의 크기를 조절할 수 있습니다. */
    /* 예시로 폰트 크기를 조절합니다. */
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 페이지 2의 이미지 크기 조절 */
  
  .page2-left-wrapper, .page2-right-wrapper {
   margin-left: 1em; 
   margin-right: 1em;
  }

  .page2-left-wrapper img {
    max-width: 80%;
    height: auto;
  }

  .portfolio img {   
    width: 12em;
    height: 12em;
  }
}

@media screen and (min-width: 751px) {
  .page2-main-responsive {
    display: none; /* 화면 너비가 750px 이상일 때 이미지를 숨깁니다. */
  }
}
  
@media screen and (max-width: 750px) {

  .page2-section {
    background-image: url(page2-img/mob_page2_bg.png); 
    background-color: black;
    display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
  
    height: auto; /* 페이지 2의 높이를 자동으로 설정 */
    min-height: 100vh; /* 최소 높이를 페이지 높이로 설정 */
    flex-direction: column;
    
    
  }
 
  .page2-main-img {
    display: none;
  }  
 
  .page2-left-wrapper {
    display: flex;
    justify-content: center;   
    margin-top: 1em;
    min-width: fit-content;
  }

 .page2-main-responsive {
 
  width: 80%;
  height: auto;
  
 }

  .portfolio img {
    width: 18em; /* 포트폴리오 이미지 너비 조절 */
    height: 12em; /* 포트폴리오 이미지 높이 조절 */
  }

}

@media screen and (max-width: 650px) {
  
  .page2-section {
    flex-basis: 1;

    justify-content: center;
    gap: 5em;
    align-items: center;
    
  }

  .portfolio-container {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    align-items: center;
  }


  .portfolio img {
    width: 100%; /* 화면 너비의 90%로 설정 */
    height: 90%; /* 높이 자동 조정 */

  }
  .first-row-port {
    display: flex;
    max-width: 90%;
    
    gap: 1em;
  }
  
  .second-row-port {
    display: flex;
    max-width: 90%;  
    gap: 1em;
  }
  .page2-more-btn {
 
   max-width: 14em;
  }
}

 /* page2 미디어쿼리 end*/


  /* page3 미디어쿼리 start*/

  @media screen and (max-width: 750px) {

    .page3-section {
      background-image: url(page3-img/mob_page3_bg.png);   
        
    }
    .page3-img-wrapper {
      margin-top: 5em;
      min-width: 100%;
      display: flex;
      justify-content: center;
    }

  .page3-img-wrapper img {
      max-width: 90%;
    }
  
    .page3-btn {
      /* 버튼 크기, 여백, 배치 등을 모바일 화면에 맞게 조정 */
      width: 16em;
      text-align: center;
      padding: 1em 2em 1em 2em;
      
    }


}
  /* page3 미디어쿼리 end*/

  /* page4 미디어쿼리 start*/

 
  @media screen and (max-width: 750px) {

    .page4-section {
        background-color: whitesmoke;
        background-image: none;  
        padding-left: 1em;
        padding-right: 1em; 
        justify-content: flex-start;
        padding-top: 3em;
    }
  }

  @media screen and (max-width: 485px) {
    
   .contact-img-wrapper {
      margin-bottom: 1em;
    } 
   
   .contact-text-wrapper h3 {
     font-size: 1em;
     min-width: 360px;
   }
 
   .contact-img-wrapper img {
    width: 15em;
   }
    
  .page4-section {
    flex-shrink: 1;
    text-wrap: nowrap;
  }
  .input-category {

    flex-wrap: nowrap;
  }
.page4-input-wrapper {
  width: 90%;
}


@media screen and (max-height: 767px) {

    .page4-section {
      padding-top: 2em;
      padding-bottom: 2em;
    }
    .page4-input-wrapper {
      margin-top: 1em;
      gap: 0.5em;
    }
  }
  .contact-img-wrapper img {
    width: 11em;
  }
  .contact-text-wrapper h3 {
    font-size: 0.8em;
    min-width: 360px;
  }
  .contact-text-wrapper {
    line-height: 1em;
  }
}

/* page4 미디어쿼리 end*/


  /* page5 미디어쿼리 start*/

    
    @media screen and (max-width:767px) {

      /* 기존거 숨기기 */
      .page5-section {
        background-image: url(page5-img/mob_page5_bg.png);   
        background-size: cover;
      }

       .page5-left-wrapper h1, .page5-right-wrapper h1 {
        display: none;
       }
       .page5-1-desktop-img, .page5-2-desktop-img {
        display: none;
       }
      /* 기존거 숨기기 */
      
     .page5-mb-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 1em;
     }

      .page5-1-mobile-img {
        display: show;
        width: 100%;
        height: auto;
      }
      .page5-2-mobile-img {
        display: show;
        width: 100%;
        height: auto;
      }

    }
      @media (min-width: 768px) {
        .page5-1-mobile-img {
          display: none;
        }
        .page5-2-mobile-img {
          display: none;
        }
      }
       
    
   

     


/* page5 미디어쿼리 end*/


  /* page6 미디어쿼리 start*/
  @media screen and (min-width: 751px) {
    .page6-mb-section {
      display: none;
    }  
  }
  
  @media screen and (min-width:1025px) {  
    .page6-tb-section {
      display: none;
    } 
  }  

  
 /* 태블릿 */

 @media screen and (max-width:1024px) {
  .page6-section {
    background-image: url(page6-img/mob_page6_bg.png);   
    background-size: 100% 100%;
    gap: 2em;
  }

  .page6-process-img-wrapper {
    display: none;
  }
  
  .page6-tb-process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    gap: 2em;
    height: 954%;
  }
  .page6-web-text {
    margin-top: 3em;
  }
  
  .tb-first-row, .tb-second-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    
  }
  .tb-arrow {
    width: 100%;
    height: auto;
  }

 }
 
  
  @media screen and (max-width: 750px) {

      .page6-section {
        background-image: url(page6-img/mob_page6_bg.png);   
        background-size: 100% 100%;
      }
      
      /* 기존거 숨김 */
      .page6-process-img-wrapper {
        display: none;
      }
      .page6-tb-section {
        display: none;
      }
     /* 기존거 숨김 */

      .page6-web-text {
        width: 14em;
        text-align: center;
        font-size: 1.3em;
      }

    
    .page6-mb-section {
      width: 80%;
    }
     .page6-mb-process {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2em;
      max-width: fit-content;      
     }

     .mb-first-row {
      display: flex;
      gap: 1.5em;
      align-items: center;
      width: fit-content;
     }

     
     .mb-second-row {
      display: flex;
      gap: 0.8em;
      align-items: center;
  
     }
     
     .mb-arrow {
      height: 3em;
      width: 1em;
     }

     .mb-process {
      height: 12.5em;
      width: 85%;
     }

    
  }


/* page6 미디어쿼리 end*/

/* page7 미디어쿼리 start */

@media screen and (min-width: 751px) {
  .page7-mb-content-wrapper {
    display: none;
  }

}

@media screen and (max-width: 750px) {

  .page7-section {
    background-image: url(page7-img/mob_page7_bg.png); 
    background-position: center; 

  }
  
  .page7-content-wrapper {
    position: none;
  }

  .page7-footer {
    display: none;
  }
 
  .page7-logo-wrapper {
    display: none;
  }

  .page7-web-text-wrapper {
    display: none;
  }

  .page7-mob-text-wrapper {
    position: relative;
  }

  .page7-mob-text-wrapper img {
   height: 43em;
    
  }
}

@media screen and (min-height: 681px) {
  .page7-mob-text-wrapper img {
    height: 45em;
  }

}
@media screen and (min-height: 751px) {
  .page7-mob-text-wrapper img {
    height: 48em;
  }
}

@media screen and (min-height: 800px) {
  .page7-mob-text-wrapper img {
    height: 50em;
  }
}

@media screen and (min-height: 840px) {
  .page7-mob-text-wrapper img {
    height: 52em;
  }
}
@media screen and (min-height: 880px) {
  .page7-mob-text-wrapper img {
    height: 55em;
  }
}

@media screen and (min-height: 914px) {
  .page7-mob-text-wrapper img {
    height: 57em;
  }
}


@media screen and (min-width: 751px) and (min-height: 900px) {
  .page7-logo-wrapper {
    top: 30%; /* 화면의 너비가 750px 이상이고 높이가 900px 이상이면 로고를 조금 아래로 이동 */
  }
}

@media screen and (min-width: 751px) and (min-height: 1024px) {
  .page7-logo-wrapper {
    top: 35%; /* 화면의 너비가 750px 이상이고 높이가 900px 이상이면 로고를 조금 아래로 이동 */
  }
}

@media screen and (min-width: 751px) and (min-height: 1280px) {
  .page7-logo-wrapper {
    top: 37%; /* 화면의 너비가 750px 이상이고 높이가 900px 이상이면 로고를 조금 아래로 이동 */
  }
}

  /* 페이지 요소들이 아래 페이지로 내려가지 않도록 고정 */
@media (max-height: 767px) {
  .page1-section {
    overflow: hidden; 
  }
}
@media (max-height: 767px) {
  .page2-section {
    overflow: hidden; 
  }
}
@media (max-height: 767px) {
  .page3-section {
    overflow: hidden;
  }
}
@media (max-height: 767px) {
  .page4-section {
    overflow: hidden; 
  }
}
@media (max-height: 1000px) {
  .page5-section {
    overflow: hidden; 
  }
}

@media (max-height: 1000px) {
  .page6-section {
    overflow: hidden; 
  }
}

@media (min-height: 1000px) {
  .page6-section {
    overflow: hidden; 
  }
}
@media (max-height: 767px) {
  .page7-section {
    overflow: hidden; 
  }
}